* {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  color: #f8f8f2;
}

#bar {
  background: rgba(40, 42, 54, 0.8);
  border-top: 1px solid #44475a;
  height: 28px;
  padding: 0 10px;
}

.module {
  padding: 0 8px;
  border-radius: 4px;
}

.module:hover {
  background: #6272a4;
}

#workspaces button.active {
  background: #50fa7b;
  color: #282a36;
}
